*.class

# Package Files #
*.war
*.ear

# IntelliJ Project #
.idea/
*.iml
*.isw

# Maven #
target/
log/

# Tomcat7 #
ROOT/
host-manager/
manager/

# log file #
*.log


# Bower Components #

*node_modules

WebRoot/WEB-INF/classes

*/Const.java
*/MailKit.java